<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friends_ranking.user %>
</p>

<%= link_to 'Edit', edit_friends_ranking_path(@friends_ranking) %> |
<%= link_to 'Back', friends_rankings_path %>
